@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin transition($value){
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

.container{
  width:800px;
  height:500px;
  border:1px solid #000;

  ul li{
    float:left;
    margin-left:30px;
    width:100px;
    height: 100px;
    background:rgba(0,0,0,0.3);
    text-align: center;
    display: block;
    position: relative;
    p{
      line-height: 102px;
      margin: 0;
      font-size:20px;
    }
  }
}